<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/neutron-style.css') }}"/>
    <title>Dank Meme Page</title>
</head>
<body>
<div class="container">
    <button class="hamburger">
        <div class="bar"></div>
    </button>
</div>
<nav class="nav">
    <a href="/">Home</a>
    <a href="/likes">Likes</a>
    <a href="#">Subreddits</a>
    <a href="#">About</a>
</nav>
<script src="static/js/jaba.js"></script>
</body>
</html>