<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" content="device-width">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/neutron-style.css') }}"/>
    <title>Dank Meme Page</title>
    <link rel="icon" href="{{ url_for('static',filename='images/troll.png') }}"/>
</head>
<body>
<div class="container">
    <button class="hamburger">
        <div class="bar"></div>
    </button>
</div>
<nav class="nav">
    <a href="/">Home</a>
    <a href="/likes">Likes</a>
    <a href="#">Subreddits</a>
    <a href="#">About</a>
</nav>
<button id="button"><a id='a' href="/">Next Meme</a></button>
<div>
    <img id="meme" src="{{ meme_pic }}" alt="{{ subreddit }}">
    <br>
    <text id="txt">This meme is from r/{{ subreddit }}</text>
</div>
<div id='heart' class='button'></div>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@mojs/core"></script>
<script src="static/js/hamburger.js"></script>
<script src="static/js/heart.js"></script>
</body>
</html>